
<head>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link    href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">  
  <link    href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
</head>






<div class="container">
    <div class="form-group row">
      <div class="col-sm text-center">
        <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Kardex/Calificaciones</h4>
      </div>
    </div>

   
<!--
    <input type="text" [(ngModel)]="searchterm" placeholder="Buscar cadena">
  
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  
  <table class="table" *ngIf="data">
    <thead>
      <tr>
        <th scope="col">Nombre del curso</th>
        <th scope="col">Nombre de la carrera</th>
        <th scope="col">Periodo</th>
        <th scope="col">Calificación</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ems of data  | filterPipe: searchterm | paginate: { itemsPerPage: 10, currentPage: page }">
        <th scope="row">{{ ems.namecurso }}</th>
        <td>{{ ems.namecarrera }}</td>
        <td>{{ ems.periodo }}</td>
        <td   [ngStyle]="{'background-color': ems.calificacion>6? 'green':'red'}"><strong>{{ ems.calificacion }}</strong></td>
       
       
      </tr>
    </tbody>
  </table>
-->

  <ag-grid-angular
    
    class="ag-theme-alpine"
    style=" height:800px;"
  
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
      [gridOptions]="gridOptions" 
      [rowClassRules]="gridOptions.rowClassRules"
        

        
>
</ag-grid-angular>
