<div class="container">
    <div class="form-group row">
      <div class="col-sm text-center">
        <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Ingresa como Usuario</h4>
      </div>
    </div>
    <!--<h1 class="mt-5 mb-5 text-center" style=" background: #fa4444; color: #fff; padding: 10px 0; ">Angular 10 Laravel 7 User Login</h1>-->
    <div style="padding: 10px;border: 2px solid hsl(0, 0%, 93%);">
      <form [formGroup]="ff" (ngSubmit)="onLoginSubmit(ff.value)">
        <p>
          <input type="email"  class="form-control" formControlName="email" email >
          <strong>Emaild: </strong> 
      </p>   
          <div *ngIf="ff.controls['email'].invalid && (ff.controls['email'].dirty || ff.controls['email'].touched)"  class="alert alert-info">
                   Ingresa un email válido</div>
        <div class="form-group">
           
            <input type="password" formControlName="password" name="password" autocomplete="on" class="form-control" [ngClass]="{ 'is-invalid': loginsubmitted && ff.get('password')?.errors }" />
            <strong>Password</strong>
            <div *ngIf="ff.controls['password'].invalid && (ff.controls['password'].dirty || ff.controls['password'].touched)"  class="alert alert-info">
              Ingresa un password de 6 digitos</div>               
            </div>
          
          <!--
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>-->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
  <div class="container">
    <!--
    <form name="logoutForm" (ngSubmit)="onLogoutSubmit()" >
    <button type="submit" class="btn btn-primary">Cerrar sesión</button>
  </form>-->
    </div>
