<div class="container">
   
    <div class="col-sm text-center">
      <h4  class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Registrar nuevo Administrativo</h4>
     
    </div>
  


<form    [formGroup] ="formu"  (ngSubmit)="onSubmit(formu.value)" >

   
  <p>                                                 <!--//to avoid formcontrol error-->
      <input type="text" name="fullNamessss" class="form-control" formControlName="username"  >
      <strong>Nombre: </strong> 
  </p>
  <p>
    <input type="email"  class="form-control" formControlName="email" email >
    <strong>Emaild: </strong> 
</p>   
    <div *ngIf="formu.controls['email'].invalid && (formu.controls['email'].dirty || formu.controls['email'].touched)"  class="alert alert-info">
             Ingresa un email válido</div>

           
  
   
   <p>
    <input type="email"  class="form-control" formControlName="password"  minlength="6">
    <strong>Password: </strong> 
   </p>

  
 
  
<button class ="btn btn-success" type ="submit"   [disabled]="formu.invalid">Registrar</button>

</form>
