<div class="container">
   
    <div class="col-sm text-center">
        <h4  *ngIf="this.datarouted.id == null"class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Registrar curso</h4>
        <h4  *ngIf="this.datarouted.id != null"class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Editar curso</h4>
     
    </div>
  


<form    [formGroup] ="formu"  (ngSubmit)="onSubmit(formu.value)" >

    <!--<p>                                              
        <input type="number" readonly   name="id" class="form-control" formControlName="id"  >
        <strong>ID Curso: </strong> 
    </p>-->
  <p>                                                
      <input type="text" name="name" class="form-control" formControlName="name"  >
      <strong>Nombre de la materia: </strong> 
  </p>
  
  <p>
      <input type="date"  class="form-control" formControlName="fechadeinicio"  >
      <strong>Fecha de inicio: </strong> 
  </p>
  <p>
    <input type="date" class="form-control" formControlName="fechadefinal"  >
    <strong>Fecha de termino: </strong> 
</p>
<p>
    <input type="text"  class="form-control" formControlName="namecarrera"  >
    <strong>Nombre de carrera/diplomado: </strong> 
</p>

<p>
<select class="form-control"  formControlName="periodo"  >  
  <option *ngFor="let p of periodos" [ngValue]="p" >{{ p }}</option>
</select> 
<strong>Periodo: </strong> 
</p>



  

<div class="row">
    <div class="form-group col-md-3">
      <input hidden type="number"  class="form-control" readonly formControlName="idmaestro">
    <strong hidden>ID de maestro: </strong> 
    </div>
    <div class="form-group col-md-9">
    <input type="text"  class="form-control" readonly formControlName="namemaestro">
    <strong>Nombre maestro: </strong> 
    </div>
    </div>

    
    <p>
    <strong>Seleccion maestro: </strong> 
    <select id="dropdown" class="form-control"    #maes [(ngModel)]="currentmae" [ngModelOptions]="{standalone: true}" (change)="onMaestroChange($event,currentmae)">
      <option *ngFor="let maestro of maestros" [ngValue]="maestro">ID:{{maestro.id }}  {{ maestro.fullName }}</option>
    </select>
</p>

 <!-- <label for="dropdown">Select an option:</label>
  <select id="dropdown" size="5" [(ngModel)]="maesid  "  [ngModelOptions]="{standalone: true}"  >
    <option *ngFor="let maestro of maestros" [value]="maestro.namemaestro">ID:{{maestro.id }}  {{ maestro.fullName }}</option>
  </select>-->
  
 

 
  
<button class ="btn btn-success" type ="submit"   [disabled]="formu.invalid">Registrar</button>

</form>

<p>Form value: {{ formu.value | json }}</p> 

