<div class="container">
    <div class="form-group row">
      <div class="col-sm text-center">
        <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Calificaciones alumnos</h4>
      </div>
    </div>


   <form    [formGroup] ="formu"  >

   
  <p>                                                
      <input type="text" readonly   class="form-control" formControlName="Cursoname"  >
      <strong>Nombre del curso: </strong> 
  </p>

  <p>
    <input type="text" readonly  class="form-control" formControlName="Carreraname"  >
    <strong>Nombre de carrera/diplomado: </strong> 
</p>

<p>
  <input type="text" readonly  class="form-control" formControlName="periodo"  >
  <strong>Periodo: </strong> 
</p>
  
  <p>
      <input type="date" readonly  class="form-control" formControlName="FechaInicio"  >
      <strong>Fecha de inicio: </strong> 
  </p>
  <p>
    <input type="date" readonly class="form-control" formControlName="FechaFinal"  >
    <strong>Fecha de termino: </strong> 
</p>
</form>
   
    <input type="text" [(ngModel)]="searchterm" placeholder="Alumno..">
  
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  
  <table class="table" *ngIf="data">
    <thead>
      <tr>
       
        <th scope="col">Nombre Alumno</th>
        
        <th scope="col" *ngFor="let day of fechas; let i=index">Clase {{i+1}} </th>
        
        <!--<th scope="col">Clase 1</th>
        <th scope="col">Clase 2</th>
        <th scope="col">Clase 3</th>
        <th scope="col">Clase 4</th>
        <th scope="col">Clase 5</th>
        <th scope="col">Clase 6</th>
        <th scope="col">Clase 7</th>
        <th scope="col">Clase 8</th>
        <th scope="col">Clase 9</th>
        <th scope="col">Clase 10</th>
        <th scope="col">Clase 11</th>
        <th scope="col">Clase 12</th>
        <th scope="col">Clase 13</th>
        <th scope="col">Clase 14</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data  | filterPipe: searchterm | paginate: { itemsPerPage: 100, currentPage: page } let i=index">
        
        <td>{{ item.namealumno }}</td>
        
        <td *ngFor="let day of fechas; let j=index"> 
          <input  [(ngModel)]="this.alumnoasistencias[i][j] "  type="checkbox"/>
          <!-- [(ngModel)]="asistencias[i]"    [(ngModel)]="inputValues[item.dynamicName]"  <input [(ngmodel)]="data" type="number" value={{item.calificacion}}  name="input{{ i }}" name={{item.id }} min="0" max="10"  />-->
        </td>
       
      </tr>
    </tbody>
  </table>

 


  <button class ="btn btn-success"  (click)="registrarAsistencia()">Guardar asistencias</button>